Repository MeoowLabs/planitholdem-backend: changes, and which Codecov flags are due for each by the changed paths.
All: common, restapi

feat(common): add index
  packages/common/src/index.ts
Due: common

refactor(common): add common src folder
  packages/common/src/common/application/handler/DeleteCommandHandler.spec.ts
  packages/common/src/common/application/handler/DeleteCommandHandler.ts
  packages/common/src/common/application/handler/FindOneQueryHandler.spec.ts
  packages/common/src/common/application/handler/FindOneQueryHandler.ts
  packages/common/src/common/application/handler/FindQueryHandler.spec.ts
  packages/common/src/common/application/handler/FindQueryHandler.ts
  packages/common/src/common/application/handler/InsertOneCommandHandler.spec.ts
  packages/common/src/common/application/handler/InsertOneCommandHandler.ts
  packages/common/src/common/application/handler/UpdateCommandHandler.spec.ts
  packages/common/src/common/application/handler/UpdateCommandHandler.ts
  packages/common/src/common/service/Converter.ts
  packages/common/src/common/service/ConverterAsync.ts
  packages/common/src/common/service/DeleteAdapter.ts
  packages/common/src/common/service/DeleteManager.spec.ts
  packages/common/src/common/service/DeleteManager.ts
  packages/common/src/common/service/FindAdapter.ts
  packages/common/src/common/service/FindManager.spec.ts
  packages/common/src/common/service/FindManager.ts
  packages/common/src/common/service/FindOneManager.spec.ts
  packages/common/src/common/service/FindOneManager.ts
  packages/common/src/common/service/InsertAdapter.ts
  packages/common/src/common/service/InsertOneManager.spec.ts
  packages/common/src/common/service/InsertOneManager.ts
  packages/common/src/common/service/Manager.ts
  packages/common/src/common/service/ManagerAsync.ts
  packages/common/src/common/service/UpdateAdapter.ts
  packages/common/src/common/service/UpdateManager.spec.ts
  packages/common/src/common/service/UpdateManager.ts
  packages/common/src/index.ts
Due: common

refactor: rename project to be planitholdem
  package.json
  packages/core/package.json
  packages/restapi/package.json
  tsconfig.base.json
  tsconfig.json
Due: restapi

refactor: move common domain services to the domain folder
  packages/core/src/common/application/handler/DeleteCommandHandler.spec.ts
  packages/core/src/common/application/handler/DeleteCommandHandler.ts
  packages/core/src/common/application/handler/FindOneQueryHandler.spec.ts
  packages/core/src/common/application/handler/FindOneQueryHandler.ts
  packages/core/src/common/application/handler/FindQueryHandler.spec.ts
  packages/core/src/common/application/handler/FindQueryHandler.ts
  packages/core/src/common/application/handler/InsertOneCommandHandler.spec.ts
  packages/core/src/common/application/handler/InsertOneCommandHandler.ts
  packages/core/src/common/application/handler/UpdateCommandHandler.spec.ts
  packages/core/src/common/application/handler/UpdateCommandHandler.ts
  packages/core/src/common/domain/adapter/DeleteAdapter.ts
  packages/core/src/common/domain/adapter/FindAdapter.ts
  packages/core/src/common/domain/adapter/InsertAdapter.ts
  packages/core/src/common/domain/adapter/UpdateAdapter.ts
  packages/core/src/common/domain/converter/Converter.ts
  packages/core/src/common/domain/converter/ConverterAsync.ts
  packages/core/src/common/domain/service/DeleteManager.spec.ts
  packages/core/src/common/domain/service/DeleteManager.ts
  packages/core/src/common/domain/service/FindManager.spec.ts
  packages/core/src/common/domain/service/FindManager.ts
  packages/core/src/common/domain/service/FindOneManager.spec.ts
  packages/core/src/common/domain/service/FindOneManager.ts
  packages/core/src/common/domain/service/InsertOneManager.spec.ts
  packages/core/src/common/domain/service/InsertOneManager.ts
  packages/core/src/common/domain/service/Manager.ts
  packages/core/src/common/domain/service/ManagerAsync.ts
  packages/core/src/common/domain/service/UpdateManager.spec.ts
  packages/core/src/common/domain/service/UpdateManager.ts
  packages/core/src/index.ts
Due: none

chore: update dependencies with dotenv and envalid
  package.json
  packages/core/package.json
Due: none

refactor(core): add LoadDataAdapter
  packages/core/src/env/domain/adapter/LoadDataAdapter.ts
Due: none

refactor(core): add LoadDataDotenvAdapter
  packages/core/src/env/integration/dotenv/adapter/LoadDataDotenvAdapter.int.spec.env
  packages/core/src/env/integration/dotenv/adapter/LoadDataDotenvAdapter.int.spec.ts
  packages/core/src/env/integration/dotenv/adapter/LoadDataDotenvAdapter.spec.ts
  packages/core/src/env/integration/dotenv/adapter/LoadDataDotenvAdapter.ts
  packages/core/src/env/integration/envalid/model/EnvToEnvValidatorEnvalidMap.ts
Due: none

feat(core): update index with LoadDataAdapter and LoadDataDotenvAdapter
  packages/core/src/index.ts
Due: none

docs(core): updated changelog
  packages/core/CHANGELOG.md
Due: none

refactor(restapi): add env config
  packages/restapi/config/.env
Due: restapi

refactor(restapi): add EnvVariables model
  packages/restapi/src/env/domain/model/EnvVariables.ts
Due: restapi

refactor(restapi): add LoadEnvVariablesDotenvAdapter
  packages/restapi/src/env/integration/core/adapter/LoadEnvVariablesDotenvAdapter.ts
  packages/restapi/src/env/integration/envalid/model/envVariablesToEnvVariablesValidatorEnvalidMap.ts
Due: restapi

refactor(restapi): add EnvModule
  packages/restapi/src/env/integration/nest/module/EnvModule.ts
Due: restapi

refactor(restapi): add AppController
  packages/restapi/src/app/integration/nest/controller/AppController.ts
Due: restapi

refactor(restapi): add AppConfig
  packages/restapi/src/app/domain/config/AppConfig.ts
Due: restapi

refactor(restapi): add AppModule
  packages/restapi/src/app/integration/nest/module/AppModule.ts
Due: restapi

fix(core): update package main to be index
  packages/core/package.json
Due: none

refactor(restapi): add startServer
  packages/restapi/src/scripts/startServer.ts
Due: restapi

chore(restapi): remove fastify-helmet
  package.json
  packages/restapi/package.json
Due: restapi

docs(restapi): update changelog
  packages/restapi/CHANGELOG.md
Due: restapi

chore(vscode): add http server debug config
  .vscode/launch.json
Due: none

chore(restapi): update package with start scripts
  packages/restapi/package.json
Due: restapi

chore(restapi): update fastify to 3.27.1
  packages/restapi/package.json
Due: restapi

fix: fix test workflow
  .github/workflows/build.yml
  codecov.yml
Due: none

Add typeorm and pg Co-authored-by: notaphplover <roberto.pintos.lopez@gmail.com>
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: none

Renamed master branch
  .husky/pre-push
  package.json
Due: none

Add adapters and converters
  packages/core/src/common/integration/typeOrm/adapter/DeleteTypeOrmAdapter.spec.ts
  packages/core/src/common/integration/typeOrm/adapter/DeleteTypeOrmAdapter.ts
  packages/core/src/common/integration/typeOrm/adapter/FindTypeOrmAdapter.spec.ts
  packages/core/src/common/integration/typeOrm/adapter/FindTypeOrmAdapter.ts
  packages/core/src/common/integration/typeOrm/adapter/InsertTypeOrmAdapter.spec.ts
  packages/core/src/common/integration/typeOrm/adapter/InsertTypeOrmAdapter.ts
  packages/core/src/common/integration/typeOrm/adapter/UpdateTypeOrmAdapter.spec.ts
  packages/core/src/common/integration/typeOrm/adapter/UpdateTypeOrmAdapter.ts
  packages/core/src/common/integration/typeOrm/service/QueryToFindQueryTypeOrmConverter.ts
  packages/core/src/common/integration/typeOrm/service/VirtualQueryToFindQueryTypeOrmConverter.ts
Due: none

Add BaseEntity and BaseEntityTypeOrm
  packages/core/src/common/domain/model/BaseEntity.ts
  packages/core/src/common/integration/typeOrm/model/BaseEntityTypeOrm.ts
Due: none

Add User and UserTypeOrm
  packages/core/src/user/domain/model/User.ts
  packages/core/src/user/integration/typeOrm/model/UserTypeOrm.ts
Due: none

Add uuid and InsertBaseEntityTypeOrmAdapter
  package.json
  packages/core/src/common/integration/typeOrm/adapter/InsertBaseEntityTypeOrmAdapter.ts
Due: none

Add UserInsertCommand
  packages/core/src/user/domain/command/UserInsertCommand.ts
Due: none

Renamed service folder to converter
  packages/core/src/common/integration/typeOrm/adapter/DeleteTypeOrmAdapter.spec.ts
  packages/core/src/common/integration/typeOrm/adapter/DeleteTypeOrmAdapter.ts
  packages/core/src/common/integration/typeOrm/adapter/FindTypeOrmAdapter.spec.ts
  packages/core/src/common/integration/typeOrm/adapter/FindTypeOrmAdapter.ts
  packages/core/src/common/integration/typeOrm/adapter/UpdateTypeOrmAdapter.spec.ts
  packages/core/src/common/integration/typeOrm/adapter/UpdateTypeOrmAdapter.ts
  packages/core/src/common/integration/typeOrm/converter/QueryToFindQueryTypeOrmConverter.ts
  packages/core/src/common/integration/typeOrm/converter/VirtualQueryToFindQueryTypeOrmConverter.ts
Due: none

Fix typeorm entities
  packages/core/src/common/integration/typeOrm/model/BaseEntityTypeOrm.ts
  packages/core/src/user/domain/model/User.ts
  packages/core/src/user/integration/typeOrm/model/UserTypeOrm.ts
Due: none

Add UserFindQueryToUserFindQueryTypeOrmConverter
  packages/core/src/user/domain/query/UserFindQuery.ts
  packages/core/src/user/fixtures/domain/model/UserFixtures.ts
  packages/core/src/user/fixtures/domain/query/UserFindQueryFixtures.ts
  packages/core/src/user/fixtures/integration/typeOrm/UserFindQueryTypeOrmFixtures.ts
  packages/core/src/user/integration/typeOrm/converter/UserFindQueryToUserFindQueryTypeOrmConverter.spec.ts
  packages/core/src/user/integration/typeOrm/converter/UserFindQueryToUserFindQueryTypeOrmConverter.ts
Due: none

Remove salt from user
  packages/core/src/user/domain/model/User.ts
  packages/core/src/user/integration/typeOrm/model/UserTypeOrm.ts
Due: none

Add BaseEntityFindQuery and BaseEntityFindQueryToBaseEntityFindQueryTypeOrmConverter
  packages/core/src/common/domain/converter/BaseEntityFindQueryToBaseEntityFindQueryTypeOrmConverter.spec.ts
  packages/core/src/common/domain/converter/BaseEntityFindQueryToBaseEntityFindQueryTypeOrmConverter.ts
  packages/core/src/common/domain/query/BaseEntityFindQuery.ts
  packages/core/src/common/fixtures/domain/model/BaseEntityFixtures.ts
  packages/core/src/common/fixtures/domain/query/BaseEntityFindQueryFixtures.ts
  packages/core/src/common/fixtures/integration/typeOrm/BaseEntityFindQueryTypeOrmFixtures.ts
Due: none

Refactor UserFindQuery to extends BaseEntityFindQuery
  packages/core/src/user/domain/query/UserFindQuery.ts
Due: none

Fix UserFixtures and BaseEntityFindQuery
  packages/core/src/common/domain/query/BaseEntityFindQuery.ts
  packages/core/src/user/fixtures/domain/model/UserFixtures.ts
Due: none

Path conditions:
  common: any of: packages/common/
  restapi: any of: packages/restapi/
