Repository MeoowLabs/planitholdem-backend: changes, and which Codecov flags are due for each by the changed paths.
All: core, restapi

Add BaseEntityInsertCommand
  packages/core/src/common/domain/command/BaseEntityInsertCommand.ts
Due: core

Add BaseEntityInsertCommandToBaseEntityInsertQueryTypeOrmConverter
  packages/core/src/common/domain/converter/BaseEntityInsertCommandToBaseEntityInsertQueryTypeOrmConverter.ts
Due: core

Refactor UserFindQueryToUserFindQueryTypeOrmConverter to extends BaseEntityFindQueryToBaseEntityFindQueryTypeOrmConverter
  packages/core/src/user/integration/typeOrm/converter/UserFindQueryToUserFindQueryTypeOrmConverter.ts
Due: core

Add UserInsertCommandToUserInsertQueryTypeOrmConverter
  packages/core/src/common/domain/converter/BaseEntityInsertCommandToBaseEntityInsertQueryTypeOrmConverter.ts
  packages/core/src/user/integration/typeOrm/converter/UserInsertCommandToUserInsertQueryTypeOrmConverter.ts
Due: core

Refactored converters and adapter interfaces to match with ConverterAsync
  packages/core/src/common/integration/typeOrm/adapter/DeleteTypeOrmAdapter.spec.ts
  packages/core/src/common/integration/typeOrm/adapter/DeleteTypeOrmAdapter.ts
  packages/core/src/common/integration/typeOrm/adapter/FindTypeOrmAdapter.spec.ts
  packages/core/src/common/integration/typeOrm/adapter/FindTypeOrmAdapter.ts
  packages/core/src/common/integration/typeOrm/adapter/InsertTypeOrmAdapter.spec.ts
  packages/core/src/common/integration/typeOrm/adapter/InsertTypeOrmAdapter.ts
  packages/core/src/common/integration/typeOrm/adapter/UpdateTypeOrmAdapter.spec.ts
  packages/core/src/common/integration/typeOrm/adapter/UpdateTypeOrmAdapter.ts
  packages/core/src/common/integration/typeOrm/converter/QueryToFindQueryTypeOrmConverter.ts
  packages/core/src/common/integration/typeOrm/converter/VirtualQueryToFindQueryTypeOrmConverter.ts
Due: core

Refactor BaseEntityFindQueryToBaseEntityFindQueryTypeOrmConverterAsync
  packages/core/src/common/domain/converter/BaseEntityFindQueryToBaseEntityFindQueryTypeOrmConverter.spec.ts
  packages/core/src/common/domain/converter/BaseEntityFindQueryToBaseEntityFindQueryTypeOrmConverter.ts
  packages/core/src/common/domain/converter/BaseEntityFindQueryToBaseEntityFindQueryTypeOrmConverterAsync.ts
Due: core

Refactor BaseEntityInsertCommandToBaseEntityInsertQueryTypeOrmConverterAsync
  packages/core/src/common/domain/converter/BaseEntityInsertCommandToBaseEntityInsertQueryTypeOrmConverter.ts
  packages/core/src/common/domain/converter/BaseEntityInsertCommandToBaseEntityInsertQueryTypeOrmConverterAsync.ts
  packages/core/src/common/integration/typeOrm/adapter/InsertBaseEntityTypeOrmAdapter.ts
Due: core

Refactor BaseEntityTypeOrmToBaseEntityConverterAsync
  packages/core/src/common/domain/converter/BaseEntityTypeOrmToBaseEntityConverterAsync.ts
Due: core

Add argon2 dependencies
  package.json
Due: none

Refactor UserInsertCommandToUserInsertQueryTypeOrmConverterAsync
  packages/core/src/user/integration/typeOrm/converter/UserFindQueryToUserFindQueryTypeOrmConverter.spec.ts
  packages/core/src/user/integration/typeOrm/converter/UserFindQueryToUserFindQueryTypeOrmConverter.ts
  packages/core/src/user/integration/typeOrm/converter/UserInsertCommandToUserInsertQueryTypeOrmConverter.ts
  packages/core/src/user/integration/typeOrm/converter/UserInsertCommandToUserInsertQueryTypeOrmConverterAsync.ts
Due: core

chore(gh): update build gh to check package.json
  .github/workflows/build.yml
Due: none

chore(package): revert fastify to 3.27.1
  package.json
Due: none

chore(restapi): revert fastify to 3.27.1
  packages/restapi/package.json
Due: restapi

chore(eslint): update eslint ignore to ignore packages compiled files
  .eslintignore
Due: none

Updated core package json dependencies
  packages/core/package.json
Due: core

test(core): add BaseEntityFindQueryToBaseEntityFindQueryTypeOrmConverterAsync unit tests
  packages/core/src/common/domain/converter/BaseEntityFindQueryToBaseEntityFindQueryTypeOrmConverterAsync.spec.ts
Due: core

Add BaseEntityTypeOrmToBaseEntityConverterAsync test
  packages/core/src/common/domain/converter/BaseEntityTypeOrmToBaseEntityConverterAsync.spec.ts
  packages/core/src/common/fixtures/integration/typeOrm/model/BaseEntityTypeOrmFixtures.ts
Due: core

test(core): add BaseEntityInsertCommandToBaseEntityInsertQueryTypeOrmConverterAsync tests
  packages/core/src/common/domain/converter/BaseEntityFindQueryToBaseEntityFindQueryTypeOrmConverterAsync.spec.ts
  packages/core/src/common/domain/converter/BaseEntityInsertCommandToBaseEntityInsertQueryTypeOrmConverterAsync.spec.ts
  packages/core/src/common/fixtures/domain/command/BaseEntityInsertCommandFixtures.ts
  packages/core/src/common/fixtures/domain/model/BaseEntityFixtures.ts
  packages/core/src/common/fixtures/integration/typeOrm/command/BaseEntityInsertCommandTypeOrmFixtures.ts
  packages/core/src/common/fixtures/integration/typeOrm/query/BaseEntityFindQueryTypeOrmFixtures.ts
  packages/core/src/user/fixtures/domain/model/UserFixtures.ts
Due: core

Refactor UserInsertCommand to extends BaseEntityInsertCommand
  packages/core/src/user/domain/command/UserInsertCommand.ts
Due: core

Add UserFindQueryToUserFindQueryTypeOrmConverterAsync
  packages/core/src/user/integration/typeOrm/converter/UserFindQueryToUserFindQueryTypeOrmConverterAsync.ts
Due: core

Fix UserInsertCommandToUserInsertQueryTypeOrmConverterAsync
  packages/core/src/user/integration/typeOrm/converter/UserInsertCommandToUserInsertQueryTypeOrmConverterAsync.ts
Due: core

chore(core): update dependencies
  packages/core/package.json
Due: core

Add UserTypeOrmToUserConverterAsync
  packages/core/src/user/fixtures/integration/typeOrm/model/UserTypeOrmFixtures.ts
  packages/core/src/user/integration/typeOrm/converter/UserTypeOrmToUserConverterAsync.spec.ts
  packages/core/src/user/integration/typeOrm/converter/UserTypeOrmToUserConverterAsync.ts
Due: core

Remove explicit-member-accessibility from eslintrc
  .eslintrc.js
Due: none

Add UserFindQueryToUserFindQueryTypeOrmConverterAsync test
  packages/core/src/user/integration/typeOrm/converter/UserFindQueryToUserFindQueryTypeOrmConverterAsync.spec.ts
Due: core

Add InsertUserTypeOrmAdapter
  packages/core/src/user/integration/typeOrm/adapter/InsertUserTypeOrmAdapter.ts
Due: core

Fix access modifier of constructors
  packages/core/src/common/application/handler/DeleteCommandHandler.ts
  packages/core/src/common/application/handler/FindOneQueryHandler.ts
  packages/core/src/common/application/handler/FindQueryHandler.ts
  packages/core/src/common/application/handler/InsertOneCommandHandler.ts
  packages/core/src/common/application/handler/UpdateCommandHandler.ts
  packages/core/src/common/domain/converter/BaseEntityFindQueryToBaseEntityFindQueryTypeOrmConverterAsync.spec.ts
  packages/core/src/common/domain/converter/BaseEntityInsertCommandToBaseEntityInsertQueryTypeOrmConverterAsync.spec.ts
  packages/core/src/common/domain/converter/BaseEntityTypeOrmToBaseEntityConverterAsync.spec.ts
  packages/core/src/common/domain/query/BaseEntityFindQuery.ts
  packages/core/src/common/domain/service/DeleteManager.ts
  packages/core/src/common/domain/service/FindManager.ts
  packages/core/src/common/domain/service/FindOneManager.ts
  packages/core/src/common/domain/service/InsertOneManager.ts
  packages/core/src/common/domain/service/UpdateManager.ts
  packages/core/src/common/integration/typeOrm/adapter/DeleteTypeOrmAdapter.ts
  packages/core/src/common/integration/typeOrm/adapter/FindTypeOrmAdapter.ts
  packages/core/src/common/integration/typeOrm/adapter/InsertTypeOrmAdapter.ts
  packages/core/src/common/integration/typeOrm/adapter/UpdateTypeOrmAdapter.ts
  packages/core/src/env/integration/dotenv/adapter/LoadDataDotenvAdapter.ts
  packages/core/src/user/domain/command/UserInsertCommand.ts
  packages/core/src/user/domain/query/UserFindQuery.ts
  packages/restapi/src/app/domain/config/AppConfig.ts
  packages/restapi/src/env/integration/core/adapter/LoadEnvVariablesDotenvAdapter.ts
Due: core, restapi

Add UserInsertCommandToUserInsertQueryTypeOrmConverterAsync test
  packages/core/src/user/fixtures/domain/command/UserInsertCommandFixtures.ts
  packages/core/src/user/fixtures/integration/typeOrm/UserInsertQueryTypeOrmFixtures.ts
  packages/core/src/user/integration/typeOrm/converter/UserInsertCommandToUserInsertQueryTypeOrmConverterAsync.spec.ts
Due: core

add FindUserTypeOrmAdapter
  packages/core/src/user/integration/typeOrm/adapter/FindUserTypeOrmAdapter.ts
Due: core

Add withAllFields getter to UserInsertQueryTypeOrmFixtures
  packages/core/src/user/fixtures/integration/typeOrm/UserInsertQueryTypeOrmFixtures.ts
  packages/core/src/user/integration/typeOrm/converter/UserInsertCommandToUserInsertQueryTypeOrmConverterAsync.spec.ts
Due: core

add InsertUserManager
  packages/core/src/user/domain/manager/InsertUserManager.ts
Due: core

add FindOneUserManager
  packages/core/src/user/domain/manager/FindOneUserManager.ts
  packages/core/src/user/domain/manager/InsertUserManager.ts
Due: core

refactor: move handlers to command handler and query handler directories
  packages/core/src/common/application/commandHandler/DeleteCommandHandler.spec.ts
  packages/core/src/common/application/commandHandler/DeleteCommandHandler.ts
  packages/core/src/common/application/commandHandler/InsertOneCommandHandler.spec.ts
  packages/core/src/common/application/commandHandler/InsertOneCommandHandler.ts
  packages/core/src/common/application/commandHandler/UpdateCommandHandler.spec.ts
  packages/core/src/common/application/commandHandler/UpdateCommandHandler.ts
  packages/core/src/common/application/queryHandler/FindOneQueryHandler.spec.ts
  packages/core/src/common/application/queryHandler/FindOneQueryHandler.ts
  packages/core/src/common/application/queryHandler/FindQueryHandler.spec.ts
  packages/core/src/common/application/queryHandler/FindQueryHandler.ts
  packages/core/src/index.ts
Due: core

Refactor command and queries of domain to be interfaces
  packages/core/src/common/domain/command/BaseEntityInsertCommand.ts
  packages/core/src/common/domain/converter/BaseEntityInsertCommandToBaseEntityInsertQueryTypeOrmConverterAsync.spec.ts
  packages/core/src/common/domain/converter/BaseEntityInsertCommandToBaseEntityInsertQueryTypeOrmConverterAsync.ts
  packages/core/src/common/domain/query/BaseEntityFindQuery.ts
  packages/core/src/common/fixtures/domain/command/BaseEntityInsertCommandFixtures.ts
  packages/core/src/common/fixtures/domain/query/BaseEntityFindQueryFixtures.ts
  packages/core/src/user/domain/command/UserInsertCommand.ts
  packages/core/src/user/domain/query/UserFindQuery.ts
  packages/core/src/user/fixtures/domain/command/UserInsertCommandFixtures.ts
  packages/core/src/user/fixtures/domain/query/UserFindQueryFixtures.ts
Due: core

fix(core): update FindOneUserManager name
  packages/core/src/user/domain/manager/FindOneUserManager.ts
Due: core

refactor(core): update InsertOneCommandHandler to receive a command converter
  packages/core/src/common/application/commandHandler/InsertOneCommandHandler.spec.ts
  packages/core/src/common/application/commandHandler/InsertOneCommandHandler.ts
Due: core

Add LoadEnvVariablesDotenvAdapter.spec.ts
  packages/restapi/src/env/integration/core/adapter/LoadEnvVariablesDotenvAdapter.spec.ts
Due: restapi

Path conditions:
  core: any of: packages/core/
  restapi: any of: packages/restapi/
